.white
{
    color:white;
}
.head
{
    background-image: url("./Banner.jpeg");
    background-size: auto 100%;
    background-repeat: no-repeat;
  /*   height: 500px; */
}
.head-nav
{
    background-color: rgba(0,0,0,0.5);
    border: 0px;
}
.head-section
{
   width:80%;
}
.navbar-default a,
 .navbar-default .navbar-brand, 
 .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>.active>a,
   .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover,
     .navbar-default .navbar-brand:focus,
      .navbar-default .navbar-brand:hover
{
    color:white;
}
.nav-pills
{
    display: inline-block;
}
.nav-pills>li>button.active
{
    background-color: transparent;
    color: white;
}
.head-title
{
    font-weight:bolder;
    font-size: 2em;
}
.head-banner
{
    padding-top: 147px;
    padding-bottom: 280px;
}
.input-section
{
    display:inline-block;
}
.no-padding
{
    padding:0px;
    margin-top: 5px;    
}
.no-border
{
    border-radius: 0px;
}
.form-group
{
    margin-bottom: 0px;
}
.row
{
    margin:0px;
}
#hided-dropdown
{
    background-color: white;
    color: black;
    display: none;
    position: absolute;
    top:34px;
}
.max-min
{
    background-color: grey;
    padding: 5px;
}
.zero-padding
{
    padding:0px;
}
.display-price
{
    padding-top: 8px;
    background-color: white;
    padding-bottom: 6px;
    padding-left: 3px;
}
.dropdown-btn
{
    background-color: white;
    text-align: center;
    padding-top:6px;
    padding-bottom:8px;
}
#min-list
{
    list-style: none;
    padding:0px
}
#max-list
{
    list-style: none;
    padding:0px;
    display: none;
}
.min-item
{
    padding:7px 12px;
    cursor: pointer;
}
.max-item
{
    padding:7px 12px;
    text-align: right;
    cursor: pointer;
}
.has-feedback .form-control {
    padding-right: 5px;
}
